In [47]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

datapath = 'resources/globalsales.csv'
df = pd.read_csv(datapath,encoding = "ISO-8859-1")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RowID          51290 non-null  int64
 1   Year           51290 non-null  int64
 2   Month          51290 non-null  int64
 3   OrderID        51290 non-null  object
 4   OrderDate      51290 non-null  object
 5   ShipDate       51290 non-null  object
 6   ShipMode       51290 non-null  object
 7   CustomerID     51290 non-null  object
 8   CustomerName   51290 non-null  object
 9   Segment        51290 non-null  object
 10  PostalCode     9994 non-null   float64
 11  City           51290 non-null  object
 12  State          51290 non-null  object
 13  Country        51290 non-null  object
 14  Region         51290 non-null  object
 15  Market         51290 non-null  object
 16  ProductID      51290 non-null  object
 17  ProductName    51290 non-null  object
 18  Sub-Category   51290 non-null  object
 19  Category       51290 non-null  object
 20  Sales          51290 non-null  float64
 21  Quantity       51290 non-null  int64
 22  Discount       51290 non-null  float64
 23  Profit         51290 non-null  float64
 24  ShippingCost   51290 non-null  float64
 25  OrderPriority  51290 non-null  object
dtypes: float64(5), int64(4), object(17)
memory usage: 10.2+ MB

In [48]:
df.drop(df.columns[[0,1,2,3,5,6,7,8,9,10,11,12,13,16,17,25]], axis=1, inplace=True)
df.columns =['date',"region","market","sub-cat","cat","sales","quantity","discount","profit","shippingcost"]
df['date'] = df['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          51290 non-null  datetime64[ns]
 1   region        51290 non-null  object
 2   market        51290 non-null  object
 3   sub-cat       51290 non-null  object
 4   cat           51290 non-null  object
 5   sales         51290 non-null  float64
 6   quantity      51290 non-null  int64
 7   discount      51290 non-null  float64
 8   profit        51290 non-null  float64
 9   shippingcost  51290 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 3.9+ MB

In [46]:
df

,date,region,market,sub-cat,cat,sales,quantity,discount,profit,shippingcost
0,2016-01-01,Northern Europe,Europe,Paper,Office Supplies,44.87,3,0.5,-26.06,4.82
1,2016-01-01,Oceania,Asia Pacific,Supplies,Office Supplies,120.37,3,0.1,36.04,9.72
2,2016-01-01,Oceania,Asia Pacific,Paper,Office Supplies,55.24,2,0.1,15.34,1.80
3,2016-01-01,Oceania,Asia Pacific,Furnishings,Furniture,113.67,5,0.1,37.77,4.70
4,2016-01-01,North Africa,Africa,Storage,Office Supplies,408.30,2,0.0,106.14,35.46
...,...,...,...,...,...,...,...,...,...,...
51285,2019-12-31,Eastern Europe,Europe,Labels,Office Supplies,27.84,4,0.0,6.12,1.70
51286,2019-12-31,North Africa,Africa,Binders,Office Supplies,3.99,1,0.0,0.42,1.49
51287,2019-12-31,Eastern Europe,Europe,Fasteners,Office Supplies,138.24,12,0.0,55.08,8.03
51288,2019-12-31,Eastern Africa,Africa,Labels,Office Supplies,49.50,6,0.0,6.84,2.15
51289,2019-12-31,Eastern Africa,Africa,Storage,Office Supplies,22.92,1,0.1,4.05,6.11

In [51]:
df_main = df.groupby(['date','region','market','sub-cat','cat'], as_index = False)['sales','profit','shippingcost'].sum()

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [52]:
df_main

,date,region,market,sub-cat,cat,sales,profit,shippingcost
0,2016-01-01,Eastern Europe,Europe,Storage,Office Supplies,66.12,29.64,8.17
1,2016-01-01,North Africa,Africa,Storage,Office Supplies,408.30,106.14,35.46
2,2016-01-01,Northern Europe,Europe,Paper,Office Supplies,44.87,-26.06,4.82
3,2016-01-01,Oceania,Asia Pacific,Furnishings,Furniture,113.67,37.77,4.70
4,2016-01-01,Oceania,Asia Pacific,Paper,Office Supplies,55.24,15.34,1.80
...,...,...,...,...,...,...,...,...
43148,2019-12-31,Western Europe,Europe,Machines,Technology,107.51,-19.40,22.09
43149,2019-12-31,Western Europe,Europe,Storage,Office Supplies,557.28,216.72,51.79
43150,2019-12-31,Western Europe,Europe,Supplies,Office Supplies,260.82,12.96,15.79
43151,2019-12-31,Western US,USCA,Binders,Office Supplies,34.62,11.00,3.95
43152,2019-12-31,Western US,USCA,Fasteners,Office Supplies,3.02,-0.60,1.17

In [53]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43153 entries, 0 to 43152
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          43153 non-null  datetime64[ns]
 1   region        43153 non-null  object
 2   market        43153 non-null  object
 3   sub-cat       43153 non-null  object
 4   cat           43153 non-null  object
 5   sales         43153 non-null  float64
 6   profit        43153 non-null  float64
 7   shippingcost  43153 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 3.0+ MB

In [35]:
y = df_main.iloc[:,1]
label_encoder1 = LabelEncoder()
label_encoder1.fit(y)
encoded_y = label_encoder1.transform(y)
region_en = to_categorical(encoded_y)

y = df_main.iloc[:,2]
label_encoder2 = LabelEncoder()
label_encoder2.fit(y)
encoded_y = label_encoder2.transform(y)
market_en = to_categorical(encoded_y)

y = df_main.iloc[:,3]
label_encoder3 = LabelEncoder()
label_encoder3.fit(y)
encoded_y = label_encoder3.transform(y)
subcat_en = to_categorical(encoded_y)

y = df_main.iloc[:,4]
label_encoder4 = LabelEncoder()
label_encoder4.fit(y)
encoded_y = label_encoder4.transform(y)
cat_en = to_categorical(encoded_y)

In [36]:
cat_en

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]], dtype=float32)

In [ ]:
df["seq"] = df['date'].str.split("/")